*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}


/* HEADER */

header{

    height:110px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 7%;

    position:sticky;
    top:0;

    background:rgba(0,0,0,.9);
    backdrop-filter:blur(10px);

    z-index:20;

}


.logo{

    font-size:45px;

    font-weight:900;

    letter-spacing:12px;

}



nav{

    display:flex;

    gap:35px;

    align-items:center;

}



nav a{

    color:#aaa;

    text-decoration:none;

    font-size:20px;

}



nav a:hover{

    color:white;

}



.menu{

    font-size:45px;

    cursor:pointer;

}



/* HERO */


.hero{

    height:85vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

}



.hero h1{

    font-size:130px;

    letter-spacing:25px;

    font-weight:900;

}



.hero p{

    font-size:25px;

    color:#777;

    margin:30px;

}



button{

    padding:20px 60px;

    border-radius:50px;

    border:none;

    font-size:20px;

    font-weight:bold;

}



/* PRODUCTS */


.shop{

    padding:100px 7%;

}



.shop h2{

    font-size:55px;

    margin-bottom:50px;

}



.regular{

    margin-top:100px;

}



.cards{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

}



.card{

    height:350px;

    background:#0d0d0d;

    border:1px solid #222;

    border-radius:30px;

    padding:35px;

    display:flex;

    flex-direction:column;

    justify-content:flex-end;

    transition:.3s;

}



.card:hover{

    transform:translateY(-10px);

}



.card h3{

    font-size:35px;

}



.card p{

    color:#777;

    font-size:22px;

    margin-top:10px;

}



.big{

    height:450px;

}




/* MOBILE */


@media(max-width:800px){


header{

    height:95px;

    padding:0 20px;

}



.logo{

    font-size:30px;

    letter-spacing:7px;

}



.menu{

    font-size:38px;

}



nav{

    display:none;

}



.hero{

    height:75vh;

}



.hero h1{

    font-size:65px;

    letter-spacing:12px;

}



.hero p{

    font-size:18px;

}



.cards{

    grid-template-columns:1fr;

}



.shop{

    padding:70px 20px;

}



.shop h2{

    font-size:40px;

}


.card{

    height:300px;

}

}
